/* xTypography section - basic style */

.cd-typography {

  ul:last-of-type {
    li {
      width: 30%;
      display: inline-block;
      margin-right: 1em !important;
      margin-bottom: 1em !important;

      // background: $color-6;

      span {
        display: block;
        font-size: 0.8em;
        line-height: 1.4;
        color: lighten( $color-7, 60% );
        padding: 1em;
      }
    }

  }
}