// Imports

@import 'bourbon'; // http://bourbon.io/
@import 'partials/layout'; // responsive grid and media queries

// color palette - these colors will be the color swatches of the Colors section

$color-2: #53d5a1; // Mint Green - Base Color
$color-1: #b3efb2; // Mint Green Tint
$color-2: #2e9961; // Mint Green Shade
$color-3: #6290c3; // Secondary Blue Tint
$color-4: #003554; // Secondary Blue Shade
$color-5: #e8f1f2; // light grey
$color-6: #ffffff; // white
$color-7: #000000; // black

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: Helvetica, Arial, sans-serif;


body { background-color: $color-6; }




/* -------------------------------- 

Layout

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	background: $color-5;
	padding: 6px;
}




/* -------------------------------- 

Navigation 

-------------------------------- */

header {
	background-color: $color-7;
}

.cd-logo {
	/* logo box style */
	background-color: $color-7;
	width: 120px;

	@include MQ(M) {
		width: 180px;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $color-7;

	li a {
		color: $color-6;
		border-color: lighten($color-2, 5%);
		text-transform: uppercase;
	}

	@include MQ(M) {
		li a {
			color: lighten($color-2, 40%);

			&.selected {
				color: $color-5;
				box-shadow: 0 2px 0 $color-1;
			}

			.no-touch &:hover {
				color: $color-5;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $color-5;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $color-5;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($color-5, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($color-5, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: lighten($color-2, 10%);

	.no-touch &:hover {
		background-color: lighten($color-2, 15%);
	}

	span {
		/* tooltip */
		background: $color-1;
		color: $color-5;

		&::before {
			/* right arrow color */
			border-color: $color-1;
		}
	}
}




/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: $color-2;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: $color-5;
	}
}




/* -------------------------------- 

xTypography 

-------------------------------- */

h1 {
	font-size: 2.4rem;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 3.2rem;
	}

	@include MQ(M) {
		font-size: 4rem;
	}
}

h2 {
	font-weight: 100;
	margin: 1em 0;

	@include MQ(S) {
		font-size: 3.2rem;
		margin: 1em 0 1.4em;
	}
}

p {
	width: 80%;
	font-size: 1.4rem;
	line-height: 2;
	color: lighten( $color-7, 40% );
	padding: 1em 0 1.6em;

	a {
		color: $color-1;
		text-decoration: underline;
	}

	@include MQ(S) {
		width: 100%;
		font-size: 1.8rem;
		line-height: 2.4; 
	}
}



footer {
	font-size: 1em;
	line-height: 1.6;
	background: $color-4;
	color: rgba( $color-6, 50% );
	padding: 5em;

	h3 {
		font-size: 1em;
		text-transform: uppercase;
		margin-top: 1.6em;
	}

	p {
		color: rgba( $color-6, .5 );
		font-size: 0.8em;
		line-height: 1.6;
		padding: 1em 0;
		margin: 0;
	}

	a { color: $color-1; text-decoration: underline; }

	@include MQ(S) {
		footer {
			padding: 2em;
		}
	} 


	section {
		width: 90%;
		max-width: $M;
		margin: 0 auto;
		padding: 50px 0;

		@include MQ(M) {
			padding-top: 80px;
		}

		@include MQ(L) {
			max-width: none;
			padding: 120px 0 50px;
		}
}

}



@import 'partials/basic-style';

@import 'partials/sections/mark';
@import 'partials/sections/colors';
@import 'partials/sections/typography';
@import 'partials/sections/applications';
