<section id="applications" class="cd-applications">
  <h2>Applications</h2>

  <p class="intro">Below are some example applications of TARA mark usage in real-world examples.</p>

  <div class="image-container">
    <img src="assets/applications/signage.jpg" alt="TARA signage example" />
    <p>Fig. 4.a - An example of the Wormhole without the Logotype on signage indicating the location of a Warp Point. The Wormhole may be used alone when used as an indicator of the location of a time travel station, such as on road signs, maps, and other informational media.</p>
  </div>

  <div class="image-container">
    <img src="assets/applications/poster.jpg" alt="TARA print media example" />
    <p>Fig. 4.b - An example of the mark combined with the full agency name on an informational public service announcement poster. When creating print media, please include both the full agency name, on the bottom left, with the mark, on the bottom right. [<a href="assets/applications/poster_full.jpg" alt="TARA print media example - full size">View a full-sized version of this example here</a>]</p>
  </div>
</section>