<section id="colors" class="cd-colors">
  <h2>Colors</h2>

  <p>TARA's colors convey both a sense of safety and technology.</p>

  <ul>
    <li class="cd-box">
      <div class="cd-color-swatch"></div>
    </li>

    <li class="cd-box">
      <div class="cd-color-swatch"></div>
    </li>

    <li class="cd-box">
      <div class="cd-color-swatch"></div>
    </li>

    <li class="cd-box">
      <div class="cd-color-swatch"></div>
    </li>

    <li class="cd-box">
      <div class="cd-color-swatch"></div>
    </li>
  </ul>
</section>