<section id="colors" class="cd-colors">
  <h2>Colors</h2>

  <p>TARA's colors convey both a sense of safety and technology.</p>

  <ul>
    <li class="cd-box">
      <div class="cd-color-swatch"></div>
      <span>
        <strong>Mint Green</strong><br />
        rgb: 179,239,178<br />
        cmyk: 29,0,40,0<br />
        hex: #b3efb2
      </span>
    </li>

    <li class="cd-box">
      <div class="cd-color-swatch"></div>
      <span>
        <strong>Forest Green</strong><br />
        rgb: 46,153,97<br />
        cmyk: 80,16,80,3<br />
        hex: #2e9961
      </span>
    </li>

    <li class="cd-box">
      <div class="cd-color-swatch"></div>
      <span>
        <strong>Cool Blue</strong><br />
        rgb: 98,144,195<br />
        cmyk: 64,36,5,0<br />
        hex: #6290c3
      </span>
    </li>

    <li class="cd-box">
      <div class="cd-color-swatch"></div>
      <span>
        <strong>Deep Blue</strong><br />
        rgb: 0,53,84<br />
        cmyk: 100,78,42,36<br />
        hex: #003554
      </span>
    </li>

    <li class="cd-box">
      <div class="cd-color-swatch"></div>
      <span>
        <strong>Grey Field</strong><br />
        rgb: 232,241,232<br />
        cmyk: 8,1,3,0<br />
        hex: #e8f1f2
      </span>
    </li>
  </ul>
</section>