<footer>
  <section>
    <h3>Documentation</h3>
    <p>Documentation and inspiration can be found on this project's Dropmark.
    <h3>Credits:</h3>
    <p>Refer to the <a href="http://tvtropes.org/" target="_blank">TV Tropes</a> pages on the <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/HitlersTimeTravelExemptionAct" target="_blank">Hitler Time Travel Exemption Act</a> as well as <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/GodwinsLawOfTimeTravel" target="_blank">Godwin's Law of Time Travel for more information on issues regarding elimination of historical evil regimes. Also be aware of the dangers of the <a href="https://en.wikipedia.org/wiki/Grandfather_paradox" target="_blank">Grandfather Paradox</a>. Finally, be sure to use the <a href="https://en.wikipedia.org/wiki/Prime_Directive" target="_blank">Prime Directive</a> for general guiding morals and principles in all matters related to time and space travel.<p>

    <p>Styleguide template adapted from <a href="https://codyhouse.co/gem/css-style-guide-template/" target="_blank">CodyHouse</a>.</p>
  </section>
</footer>