<footer>
  <section>
    <h3>Documentation</h3>
    <p>Documentation and inspiration can be found on this project's <a href="http://chadbehnke.dropmark.com/298237?page=1" target="_blank">Dropmark</a>.
    <h3>Credits:</h3>
    <p>Refer to the <a href="http://tvtropes.org/" target="_blank">TV Tropes</a> pages on the <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/HitlersTimeTravelExemptionAct" target="_blank">Hitler Time Travel Exemption Act</a> as well as <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/GodwinsLawOfTimeTravel" target="_blank">Godwin's Law of Time Travel</a> for more information on issues regarding elimination of historical evil regimes. Also be aware of the dangers of the <a href="https://en.wikipedia.org/wiki/Grandfather_paradox" target="_blank">Grandfather Paradox</a>. Finally, be sure to use the <a href="https://en.wikipedia.org/wiki/Prime_Directive" target="_blank">Prime Directive</a> for general guiding morals and principles in all matters related to time and space travel.</p>

    <p>Styleguide template adapted from <a href="https://codyhouse.co/gem/css-style-guide-template/" target="_blank">CodyHouse</a> and built using <a href="https://middlemanapp.com/" target="_blank">Middleman</a>. You can visit the Github page <a href="https://github.com/cbehnke/tara" target="_blank">here</a>.</p>

    <p>This is an Advanced Identities Project by <a href="http://chadbehnke.com" target="_blank">Chad Behnke</a>. Feel free to <a href="mailto:chad@chadbehnke.com">reach out</a> with any questions.
  </section>
</footer>