<header>
  <div class="cd-logo"><img src="assets/logo.svg" alt="Logo"></div>

  <nav>
    <ul class="cd-main-nav">
      <li><a href="#branding">The Mark</a></li>
      <li><a href="#colors">Colors</a></li>
      <li><a href="#typography">Typography</a></li>
      <li><a href="#applications">Applications</a></li>
    </ul> <!-- cd-main-nav -->
  </nav>
  
  <!-- <a href="assets/assets-download-file.zip" class="cd-download"><span>Download assets</span></a> -->
  <a href="#0" class="cd-nav-trigger">Menu<span></span></a>
</header>
