<section id="branding" class="cd-branding">
  <h2>Branding</h2>

  <ul>
    <li class="cd-box"><img src="assets/branding/logo-ver-1.jpg" alt="Logo version 1"></li>
    <li class="cd-box"><img src="assets/branding/logo-ver-2.jpg" alt="Logo version 2"></li>
  </ul>

  <ul>
    <li><img src="assets/branding/touch-icon-1.jpg" alt="Touch Icon 1"></li>
    <li><img src="assets/branding/touch-icon-2.jpg" alt="Touch Icon 2"></li>
    <li><img src="assets/branding/favicon-1.jpg" alt="Favicon 1"></li>
    <li><img src="assets/branding/favicon-2.jpg" alt="Favicon 2"></li>
  </ul> 
</section>