<section id="branding" class="cd-branding">
  <h2>Mark Usage</h2>

  <p>The mark is the main identifier for the TARA service. The guidelines for the main mark will help ensure public recognition of TARA stations and materials. Proper use of the mark is encouraged in order to maintain a strong sense of trust with the public. The mark consists of two parts &mdash; the Wormhole and the Logotype. It should be displayed on all public communications including displays, machinery, signage, and other visual communications.</p>

  <ul>
    <li class="cd-box"><img src="assets/mark/logo-ver-1.jpg" alt="Logo Mono"></li>
    <li class="cd-box"><img src="assets/mark/logo-ver-2.jpg" alt="Logo Color"></li>
  </ul>

  <p>The Wormhole represents the physical universe mechanics that make our technology possible. It also instills a sense of place, representing both the now and then on the top and bottom. It is a representation of science and progress as well as fascination and wonder in the workings of the universe.</p>

  <ul>
    <li class="cd-box"><img src="assets/mark/TARA-misuse__size.png" alt="Size Misuse" /><span>Fig. 1.a - Do not alter the sizes of the elements</span></li>
    <li class="cd-box"><img src="assets/mark/TARA-misuse__skew.png" alt="Size Misuse" /><span>Fig. 1.b - Do not skew or change shapes</span></li>
    <li class="cd-box"><img src="assets/mark/TARA-misuse__contrast.png" alt="Size Misuse" /><span>Fig. 1.c - Do not use low-contrasting colors</span></li>
    <li class="cd-box"><img src="assets/mark/TARA-misuse__image.png" alt="Size Misuse" /><span>Fig. 1.d - Use the black or white marks with images</span></li>
  </ul>

  <p>Please avoid the above situations when applying the TARA mark. Generally try to avoid altering the original assets in almost all cases.</p>

</section>