<section id="typography" class="cd-typography">
  <h2>Typography</h2>

  <p>Helvetica is the primary typeface for the TARA brand for its wide adoption and applicability. If Helvetica is not available, Arial may be used in its place. No other typeface should be used. Helvetica should be used for body text as well as for headlines.</p>

  <ul>
    <li class="cd-box"><img src="assets/typography/TARA-typography__regular.png" alt="Helvetica Regular" /></li>
    <li class="cd-box"><img src="assets/typography/TARA-typography__oblique.png" alt="Helvetica Oblique" /></li>
    <li class="cd-box"><img src="assets/typography/TARA-typography__light.png" alt="Helvetica Light" /></li>
    <li class="cd-box"><img src="assets/typography/TARA-typography__light-oblique.png" alt="Helvetica Light Oblique" /></li>
    <li class="cd-box"><img src="assets/typography/TARA-typography__bold.png" alt="Helvetica Bold" /></li>
    <li class="cd-box"><img src="assets/typography/TARA-typography__bold-oblique.png" alt="Helvetica Bold Oblique" /></li>
  </ul>  
</section>